table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 10px;
    margin-left: 1rem;
    background-color: white;
  }
  
  th, td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
    text-transform: uppercase;
  }